/Website/Whats in here.txt
/Website/DeJargonizer2022/scienceandpublic.com.crt
/Website/DeJargonizer2022/scienceandpublic.com.pem
/Website/DeJargonizer2022/scienceandpublic.com-ca.crt
/Website/DeJargonizer2022/bin-bak
/Website/DeJargonizer2022/half-life-dejargonizer-f4e89fe2bc96.json
/De Jargonizer chatbot.docx
/GeneralSpider/article_files_2018/*
*/__pycache__/*
/Website/מסמך הגדרות מאגר DeJargonizer - עם הערות.docx
/Website/DeJargonizer2022/Content/dist/*
/New version 16-01-2025/*
/test.scienceandpublic.com 16-01-2025/*
/Website/published site backup 16-01-2025/*
/DeJargonizer2025/DeJargonizer2025/obj/*
/DeJargonizer2025/DeJargonizer2025/bin/*
*.vsidx
/Website/DeJargonizer2025/scienceandpublic.com.crt
/Website/DeJargonizer2025/scienceandpublic.com.pem
/Website/DeJargonizer2025/scienceandpublic.com-ca.crt
/Website/DeJargonizer2025/bin-bak
/Website/DeJargonizer2025/half-life-dejargonizer-f4e89fe2bc96.json
/Website/DeJargonizer2025/Content/dist/*
/DeJargonizer2025/DeJargonizer2025/.env
/DeJargonizer2025/DeJargonizer2025/half-life-dejargonizer-f4e89fe2bc96.json
