/Website/Whats in here.txt
/Website/DeJargonizer2022/scienceandpublic.com.crt
/Website/DeJargonizer2022/scienceandpublic.com.pem
/Website/DeJargonizer2022/scienceandpublic.com-ca.crt
/Website/DeJargonizer2022/bin-bak
/Website/DeJargonizer2022/half-life-dejargonizer-f4e89fe2bc96.json
/De Jargonizer chatbot.docx
