@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

    <link href='@(Url.Content("../Content/Site.css") + "?v=" + Guid.NewGuid().ToString())' rel='stylesheet' type='text/css' />
    <link href='@(Url.Content("../Content/Home.css") + "?v=" + Guid.NewGuid().ToString())' rel='stylesheet' type='text/css' />

<section id="aboutSection">
    <h1 class="sectionTitle">Contact Us</h1>
    <section class="infoSection" id="contact">
        <h3>We would love to hear your feedback and ideas</h3>
        <p>
            Associate Professor Ayelet Baram-Tsabari: ayelet@technion.ac.il<br />
            Dr. Elad Segev: elad1segev@gmail.com                           <br />
            Tzipora Rakedzon: hutzipi@tx.technion.ac.il                    <br />
        </p>
        <img src="~/Content/Assets/LINKS.png" />
        <img src="~/Content/Assets/HIT.jpg" />
        <img src="~/Content/Assets/TECHNION.png" />
    </section>
</section>