@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link href='@(Url.Content("../Content/Site.css") + "?v=" + Guid.NewGuid().ToString())' rel='stylesheet' type='text/css' />
    <link href='@(Url.Content("../Content/Home.css") + "?v=" + Guid.NewGuid().ToString())' rel='stylesheet' type='text/css' />

<section id="aboutSection">
    <h1 class="sectionTitle">How to cite</h1>
    <section class="infoSection" id="howToCite">
        <h3>How should we be cited?</h3>
        <p>
            Tzipora Rakedzon, Elad Segev, Noam Chapnik, Roy Yosef and Ayelet Baram-Tsabari  (2017). Automatic jargon identifier for scientists engaging with the public and science communication educators. PLOS ONE. <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0181742">http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0181742</a>.
        </p>
    </section>
</section>