@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Home.css")

<section id="aboutSection">
    <h1 class="sectionTitle">About</h1>
    <section class="infoSection" id="whatIsIt">
        <h3>What is the De-Jargonizer?</h3>
        <p>
            The De-Jargonizer is an automated jargon identification program aimed at helping scientists and science communication trainers improve and adapt vocabulary use for a variety of audiences. The program determines the level of vocabulary and terms in a text, and divides the words into three levels: high frequency/common words; mid-frequency/normal words; and jargon – rare and technical words.
        </p>
    </section>
    <section class="infoSection" id="whyDoWeNeedIt">
        <h3>Why do we need a De-Jargonizer?</h3>
        <p>
            Scientists are required to communicate science and research not only to other specialists in the field, but also to scientists and specialists from other fields, as well as to the public and policymakers. One fundamental suggestion when communicating with non-specialists is to avoid professional jargon that is excluding and prevents reader-listener comprehension. However, because scientists are trained to speak with highly specialized language, avoiding jargon is difficult for scientists. Also, there is no standard to aid scientists in adjusting their messages. The De-Jargonizer highlights problematic jargon, allowing those communicating science to consider changing these potentially problematic words with more familiar words (or adding explanations).
        </p>
    </section>
    <section class="infoSection" id="whoShouldUseIt">
        <h3>Who can benefit from using the De-Jargonizer?</h3>
        <p>
            Scientists, science communicators, and science communication trainers can all benefit from the
            de-jargonizer. Scientists and science communicators can use it to adapt their message for non-specialists. Science communication trainers can use it to assess the progress of their students by evaluating their use of appropriate vocabulary.
        </p>
    </section>
</section>