@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Home.css")

<section id="aboutSection">
    <h1 class="sectionTitle">Developers</h1>
    <section class="infoSection" id="Developers">
        <h3>Who developed it?</h3>
        <p>
            The program was developed by:                                                                                                                                                                    <br />
            •	Associate Professor <a href="http://ayeletlab.net.technion.ac.il/">Ayelet Baram-Tsabari</a>, head of the Science Communication research group at the Faculty of Education in Science and Technology,<br /> <a href="http://www.technion.ac.il/en/">Technion – Israel Institute of Technology</a>  <br />
            •	<a href="http://ayeletlab.net.technion.ac.il/research-group/tzipora-2/">Tzipora Rakedzon</a>, lecturer and coordinator of academic writing for graduate students at the Department of Humanities and Arts at the Technion – Israel Institute of Technology               <br />
            •	Dr. <a href="http://www.hit.ac.il/en/faculty_staff/Elad-Segev">Elad Segev</a>, lecturer at the Department of Applied Mathematics at the <a href="http://www.hit.ac.il/en">Holon Institute of Technology</a>                                                                                       <br />
            •	Noam Chapnik and Roy Yosef, computer science students at the Holon Institute of Technology, Israel                                                                                           <br />
        </p>
    </section>
</section>