@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Home.css")

<section id="aboutSection">
    <h1 class="sectionTitle">How to cite</h1>
    <section class="infoSection" id="howToCite">
        <h3>How should we be cited?</h3>
        <p>
            Tzipora Rakedzon, Elad Segev, Noam Chapnik, Roy Yosef and Ayelet Baram-Tsabari  (2016). Automatic jargon identifier for scientists engaging with the public and science communication educators. Manuscript submitted for publication.
        </p>
    </section>
</section>