@model JargonProject.Models.GroupGradingInfo

@{
    ViewBag.Title = "Group Grading";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/GroupGrading.css">
<section id="textGradingSection">
    <h1 id="textGradingSectionTitle" class="sectionTitle">Group Grading</h1>
    @using (Html.BeginForm("Index", "GroupGrading", FormMethod.Post, new { id = "groupGradingForm", enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>Articles <span style="font-size: small">(max total files size is 15MB)</span></legend>
            <p  id="textManual">Upload texts for the general public to quantify jargon use. Use txt/ docx formats.</p>
            <input type="file" id="ArticlesGroupFU" name="ArticlesGroupFU" multiple="multiple"/>
        </fieldset>
        <fieldset>
            <button type="submit" id="gradeArticlesGroupBtn" class="btn btn-primary btn-block btn-lg">Start</button>
        </fieldset>
    }

    @{ 
        if (Model.GroupGradingStatus == JargonProject.Models.eGroupGradingStatus.ErrorOccurred)
        {
            <div id="resultDiv">
                <fieldset>
                    <div id="resultsContent" name="resultsContent" class="input-group-sm">
                        An Error Occurred, please check if all your files formats are included in our supported formats.
                    </div>
                </fieldset>
            </div>
        }else if (Model.GroupGradingStatus == JargonProject.Models.eGroupGradingStatus.FileGenerated)
        {
            string url = Url.Action("DownloadArticlesFile");

            Context.Response.Redirect(url);
        }
    }
</section>