#AudienceSelect,  #ArticlesGroupNameTB{
    padding: 10px;
}

#groupGradingForm > fieldset {
    margin-top: 30px;
}

#groupGradingForm > fieldset > select, #groupGradingForm > fieldset > input[type="file"], #groupGradingForm > fieldset > input[type="text"]  {
    width: 60%;
    max-width: 100%;
}

#gradeArticlesGroupBtn {
    width: 120px;
    max-width: 100%;
    float: right;
}

#resultDiv {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
}
