body {
}

.sectionTitle {
    margin-top: 30px;
}

.infoSection:not(:first-of-type) {
    padding-top: 70px;
}

.infoSection:last-of-type {
    margin-bottom: 70px;
}

.infoSection > h3 {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.infoSection > p {
    margin: 0 0 10px;
    text-align: justify;
}

li a, .dropDownBtn {
    display: inline-block;
    color: rgb(153, 153, 153);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropDownBtn {
    font-size: 18px;
}

li a:hover .dropDownBtn {
    background-color: #222222;
}

li.dropDownElement {
    display: inline-block;
}

.dropdownItems {
    display: none;
    position: fixed;
    background-color: #222222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:3;
}

.dropdownItems a {
    color: rgb(153, 153, 153);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownItems a:hover {
    color: white;
}

.dropDownElement:hover .dropdownItems {
    display: block;
}


/*-------------------------------------------------------------------*/
#resultDiv {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
}

#resultsContent {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-word;
}

.rareWord {
    color: red;
    font-weight: bold;
}

.normalWord {
    color: darkorange;
    font-weight: bold;
}

.commonWord {
    color: black;
    font-weight: normal;
}

#statDiv {
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    float: right;
    display: -moz-deck;
    width: 18%;
    margin-left: 30px;
    margin-bottom: 30px;
}

#statDiv > div > span {
    padding: 10px;
    display: inline-block;
}

.stat {
    float: right;
    width: 50%;
}

.resultSpan {
    width: 50%;
}